@font-face {
  font-family: "aeonik";
  src: url("../fonts/aeonik/Aeonik-Medium.woff2") format("woff2"),
       url("../fonts/aeonik/Aeonik-Medium.woff") format("woff");
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
}

p {
  margin: 0;
}

html, body, main {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'aeonik', sans-serif;
  color: white;
  background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    line-height: 40px;
    padding: 25px 45px;
}

nav .nav-right a {
  margin-right: 55px;
  text-underline-offset: 7px;
  text-decoration-thickness: 2px;
}

nav .nav-left img {
  animation: spinning linear 5s infinite;
}

nav .nav-right a:last-child {
    margin-right: 0;
}

nav .nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 992px){
  nav {
    padding: 20px;
  }
  nav .nav-center {
    display: none;
  }
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Homepage */
.page-homepage main {
    display: flex;
    flex-flow: column;
}

.page-homepage .section-intro {
  font-size: 66px;
  line-height: 70px;
  padding: 50px 40px 60px;
  max-width: 1300px;
}

.page-homepage .section-intro-image {
  flex: 1 1 auto;
  background: url('../assets/headshot.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: #A34E20;
  min-height: 580px;
}

@media screen and (max-width: 992px){
  .page-homepage .section-intro {
    padding: 30px 20px 45px;
    font-size: 38px;
    line-height: 40px;
  }

  .page-homepage .section-intro-image {
    min-height: initial;
  }
}
