@font-face {
  font-family: "aeonik";
  src: url("./fonts/aeonik/Aeonik-medium.woff2") format("woff2"),
       url("./fonts/aeonik/Aeonik-medium.woff") format("woff");
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "aeonik", sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
}

{% include css/components/styles.css %}
{% include css/pages/homepage.css %}
