.container {
  background: black;
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) center;
  max-width: 1220px;
  min-height: 465px;
  width: 100%;
  padding: 0 50px;
  text-align: center;
}

.banner h1 {
  text-align: left;
  color: white;
  font-weight: normal;
  font-size: 70px;
  line-height: 74px;
  max-width: 940px;
}

@media screen and (max-width: 992px){
  .banner {
    background-position: calc(100% - 20px) center;
    background-size: 315px auto;
    transform: translate(-50%, 0);
    top: 157px;
    min-height: 380px;
    padding: 0;
  }

  .banner h1 {
    position: absolute;
    padding: 0 20px;
    top: 320px;
    font-size: 40px;
    line-height: 44px;
    max-width: 100%;
    padding-top: 0;
    margin: 0;
  }
}
